.error-absolute {
  position: absolute;
}

.smarty-tag-grayed {
  border: 1px solid #B4B4B4 !important;
  color: #999 !important;
  background: #DDD !important;
  box-shadow: inset 0 9px 15px #fff;
}

.smarty-tag-green {
  border: 1px solid #407513 !important;
  color: #407513 !important;
  background: #A6D187 !important;
  box-shadow: inset 0 9px 15px #e3f6d5;
}

.smarty-tag {
  position: absolute;
  display: block;
  overflow: hidden;
  font: 15px/1.2em sans-serif;
  text-decoration: none !important;
  width: 20px;
  height: 24px !important;
  border-radius: 25px;
  transition: all .25s;
  -moz-transition: all .25s;
  -webkit-transition: all .25s;
  -o-transition: all .25s;
  line-height: 24px !important;
  min-width: 24px !important;
}

.smarty-tag-check {
  padding-left: 4px;
  text-decoration: none !important;
}

.smarty-tag-text {
  font-size: 14px !important;
  position: absolute;
  top: 0;
  left: 16px;
  width: 50px !important;
  text-align: center !important;
}

.validate-zip-code {
  position: absolute;
  right: 0;
  top: 33px;
}

.error {
  font-weight: 700;
  margin-bottom: 5px;
  display: block;
}

.form-input-item {
  position: relative;

  .fa.valid {
    color: #238c49;
    position: absolute;
    right: 12px;
    top: 13px;
  }
}
